@model CarStore.Models.Order
@{

}


    <div>
        <h1>Purchase form</h1>
        <form method="post">
            @*@Html.ValidationSummary()*@
            <input type="hidden" value="@ViewBag.CarId" name="CarId" />
            <div>
               @Html.LabelFor(x => x.Name)
               @Html.TextBoxFor(x => x.Name)
                @*@Html.ValidationMessageFor(x => x.Name)*@
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                @Html.LabelFor(x => x.Lastname)
                @Html.TextBoxFor(x => x.Lastname)
                @Html.ValidationMessageFor(x => x.Lastname)
            </div>
            <div>
                @Html.LabelFor(x => x.PhoneNumber)
                @Html.TextBoxFor(x => x.PhoneNumber)
                @Html.ValidationMessageFor(x => x.PhoneNumber)
            </div>
            <input type="submit" value="Send"/>
        </form>
    </div>
