@model IEnumerable<CarStore.Models.Car>
@{
//ViewData["Title"] = "Home Page";
//Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Car shop</title>
</head>
<body>
   <h1>Cars</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Model</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.Title</td>
                    <td>@car.Model</td>
                    <td>@car.Price</td>
                    <td><a href="~/Home/Buy/@car.CarId">Buy</a></td>
                    <td>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            <input type="hidden" value="@car.CarId" name="CarId" />
                            @Html.Hidden("returnUrl", Context.Request.Path)
                            <input type="submit" value="+ Add to Cart" class="btn btn-secondary" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>